.box {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 7px;
  position: relative;
}

.red {
  background: red;
  border-color: violet;
  color: violet;
  z-index: 0;
}

.orange {
  background: orange;
  border-color: indigo;
  color: indigo;
  left: 50px;
  bottom: 50px;
  z-index: 1;
}

.yellow {
  background: yellow;
  border-color: blue;
  color: blue;
  left: 100px;
  bottom: 100px;
  z-index: 2;
}

.green {
  background: green;
  border-color: black;
  color: black;
  left: 150px;
  bottom: 150px;
  z-index: 3;
}

.blue {
  background: blue;
  border-color: yellow;
  color: yellow;
  left: 100px;
  bottom: 200px;
  z-index: 4;
}

.indigo {
  background: indigo;
  border-color: orange;
  color: orange;
  left: 50px;
  bottom: 250px;
  z-index: 5;
}

.violet {
  background: violet;
  border-color: red;
  color: red;
  left: 0px;
  bottom: 300px;
  z-index: 6;
}

.black {
  background: black;
  border-color: white;
  color: white;
  float: right;
  bottom: 610px;
  z-index: 7;
}
